body {
  background: rosybrown;
  font-family: Arial, sans-serif;
}

p {
  margin-top: 5px;
  margin-bottom: 5px;
}

a {
text-decoration: none;
color: white;
}

.business-card {
  width: 300px;
background-color: black;
padding: 20px;
text-align: center;
font-size: 16px;
margin-top: 100px;
margin-left: auto;
margin-right: auto;
color: yellow;
}

.profile-image {
  max-width: 100%;
}

hr {
  color: white;
}

.social-media{
  color: yellow;
text-decoration: white;
}

 a:hover {
      color: yellow; /* Example: a darker blue on hover */
    }